    /**
    Formato para comentario dentro de css, utilizado para ir diagramando el sistema de referencia de estilos para
    incorporar dentro de nuestra pagina final
    Una vez ya familirilizado con el selector de id y el selector por clase, manejar eso ir intrudiciendo el manejo del dom, que es el dom?
    */

    *{
        color: blue;
        font-family: 'La Belle Aurore', cursive;
    }
    
    p { 
    color: rgb(19, 0, 116);
    width: 300px;

    }
    section {
        width: 300px;
        border: 15px solid green;
        padding: 50px;
        margin: 20px;
      }
    

    h1 { 
        border: 1px solid black; 
        padding: 5px;
        margin: 30px;
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: 10px;
        margin-right: 10px;
        /*padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;*/
        padding: 40px 20px 15px 15px;
        font-weight: bold;
        color:brown
        
    }
    h2 { 
        font-weight: lighter;
        color: black;

    }
    #mi_parrafo {
        color:blueviolet; 
        font-size: 23px;
        border: 3px solid maroon;
    }

    .estaesmiclase {
        font-weight: bold;
        color: black;

    }

    section h1 {

        font-weight: 400;
    }

    body {
        background-image: url(https://media1.giphy.com/media/i3RA5wLyWjCRa/giphy.gif?cid=790b7611c478351818368a38b646d10ad3f2f917472c9888&rid=giphy.gif&ct=g);
        background-repeat: no-repeat;
        background-position: center;
   }

